<nav class="tab-nav tab-nav-blue">
          <ul class="nav nav-justified">
            <li class="active">
              <a data-toggle="tab" href="/930">930 Club</a>
            </li>
            <li>
              <a data-toggle="tab" href="/uhall">U-Hall</a>
            </li>
            <li>
              <a data-toggle="tab" href="/echostage">Echo Stage</a>
            </li>
          </ul>
</nav>

<div class="events">

</div>