<div class="concerts">




</div>

<script>
	var request= $.ajax({
		url:"/concerts",
		type:"GET",
		dataType:"json",
		success:function(response){
			console.log(response);
			for (var i=0;i<response.length;i++) {
            alert(response[i].headliner);
            $('.concerts').append(response[i]);
         }	
		}
	})
</script>