
<div class="events">


</div>

<script>
	var request= $.ajax({
		url:"/concerts",
		type:"GET",
		dataType:"json",
		success:function(response){
			console.log(response);
			for (var i=0;i<response.length;i++) {
            $('.events').append(
            	'<div class="concert" id="'+i+'">' + 
            	'<img src="'+response[i].image+'">'+
            	'<h2 class="headliner">' + response[i].headliner +'</h2>'+
            	'<h4 class="date">' + response[i].date +'</h4>'+ 
            	'<h4 class="purchase_url">' + '<a href="'+response[i].purchase_url+'">Buy Tickets</a>' +'</h4>'+
            	'</div>');
            console.log(i);
         }
         $('.concert').on('click', function()
            {
            $(this).append('<div class="tunez"><iframe src="https://embed.spotify.com/?uri=spotify%3Aartist%3A'+response[parseInt(this.id)].playlist+'"width="300" height="380" frameborder="0" allowtransparency="true"></iframe>')
            	console.log("worked");
            })	
		}
	})
</script>

