
<nav class="tab-nav tab-nav-blue">
          <ul class="nav nav-justified">
            <li>
              <a data-toggle="tab" href="/930">930 Club</a>
            </li>
            <li class="active">
              <a data-toggle="tab" href="/uhall">U-Hall</a>
            </li>
            <li>
              <a data-toggle="tab" href="/echostage">Echo Stage</a>
            </li>
          </ul>
</nav>

<div class="events">
    
</div>

<script>
    var request= $.ajax({
        url:"/uhall",
        type:"GET",
        dataType:"json",
        success:function(response){
            console.log(response);
            for (var i=0;i<response.length;i++) {
            $('.events').append( 
              '<h4 class="date">' + response[i].date +'</h4>'+ 
                '<div class="concert" id="'+i+'">' +
                '<img class="band-pic" src="'+response[i].image+'">'+
                '<h2 class="headliner-name">' + response[i].headliner +'</h2>'+
              '<a class="btn btn-flat playtunez" id="'+i+'">Listen to Tunez</a>'+
                '<a class="btn btn-flat purchase-url" href="'+response[i].purchase_url+'">Buy Tickets</a>'+'</div>');
            console.log(i);
         }
         $('.playtunez').on('click', function()
            {
            if (this.id != ''){   
            $(this).append('<div class="tunez"><iframe src="https://embed.spotify.com/?uri=spotify%3Aartist%3A'+response[parseInt(this.id)].playlist+'"width="300" height="380" frameborder="0" allowtransparency="true"></iframe>')
            }
            })  
        }
    })
</script>
<script>
// btn active
  $('.btn').on('mousedown touchstart', function() {
    var $this = $(this);
    if (!$this.hasClass('btn-active')) {
      $this.addClass('btn-active');
      setTimeout(function() {
        $this.removeClass('btn-active');
      }, 450);
    }
})</script>